@import url("https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

nav img {
  width: 80px; }

/*selectores de etiquetas*/
body {
  font-size: 1.5em;
  padding: 1em;
  background-color: white; }
  body input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button p {
  color: #fff; }

span {
  color: #ab4493; }

h1,
h2 {
  font-size: 2em;
  text-align: center;
  font-style: italic;
  padding-bottom: 1em; }

h3 {
  font-size: 1em;
  padding-bottom: 1em;
  text-align: center; }

p {
  font-size: 1em; }

div h3 {
  font-size: 1em; }

section li {
  list-style: none; }
  section li a {
    text-decoration: none; }

/*selectores de clases*/
.color {
  color: white; }

.color3 {
  color: black; }

.boton1 {
  width: 100px;
  height: 25px;
  border-radius: 5px;
  border: none;
  background: radial-gradient(circle, rgba(128, 120, 123, 0.757) 0%, #7a899b 100%);
  transition: 2s;
  margin-top: 0.5em; }

.boton1:hover {
  background: radial-gradient(circle, #b5c1fd 0%, #f8b9c5 100%); }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

.w-80 {
  width: 80%; }

.h-40 {
  height: 40%; }

.scale:hover {
  transform: scale(1.1, 1.2); }

.carouselContent {
  position: center;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }

.header {
  padding-top: 1em; }

.formulario {
  padding-bottom: 2em; }

.nosotros {
  padding-bottom: 3em; }

/*selectores de id*/
#error404 {
  text-align: center;
  padding-top: 1em;
  background-color: black; }

#error404textos {
  color: white;
  padding: 1em; }

#cardproductos {
  margin-top: 20px;
  background-color: black; }

#textocardproductos {
  color: white;
  text-align: center; }

#derechos {
  padding-top: 1em; }

#blog {
  padding-bottom: 2em;
  text-align: center; }

#productos1 {
  padding-bottom: 1em; }

#productos2 {
  padding-bottom: 2em; }

#productos3 {
  padding-bottom: 2em; }

footer {
  padding: 1em;
  text-align: center;
  padding-top: 20px;
  background-color: black; }
  footer img {
    width: 8%;
    align-items: center;
    padding-right: 1em; }
  footer p {
    color: white; }
