// variables
* {
    margin: 0;
    padding: 0;
}

$bg-black:black;
$color-principal:white;
$w-25:25%;
$w-50:50%;
$w-80:80%;
$w-100:100%;
$h-40:40%;
$h-50:50%;
$d-flex:flex;
$d-block:block;
$py-1:1em 0;
$px-1:0 1em;
$p:1em;
$p2:2em;
$m:1em;