 /*selectores de etiquetas*/
 
 body {
     font-size: $fontSizeTitles2;
     padding: 1em;
     background-color: white;
     input {
         background-color: #fbfbfb;
         width: 408px;
         height: 40px;
         border-radius: 5px;
         border-style: solid;
         border-width: 1px;
         border-color: #ab4493;
         margin-top: 10px;
         padding-left: 10px;
         margin-bottom: 20px;
     }
 }
 
 textarea {
     width: 405px;
     height: 150px;
     border-radius: 5px;
     border-style: solid;
     border-width: 1px;
     margin-top: 10px;
     padding-left: 10px;
     margin-bottom: 20px;
     padding-top: 15px;
 }
 
 label {
     display: block;
     float: center;
 }
 
 button {
     p {
         color: #fff;
     }
 }
 
 h1,
 h2 {
     font-size: $fontSizeTitles;
     text-align: center;
     font-style: italic;
     padding-bottom: 1em;
 }
 
 h3 {
     font-size: $fontSizeMain;
     padding-bottom: 1em;
     text-align: center;
 }
 
 p {
     font-size: $fontSizeMain;
 }
 
 div {
     h3 {
         font-size: $fontSizeMain;
     }
 }
 
 section {
     li {
         list-style: none;
         a {
             text-decoration: none;
         }
     }
 }
 /*selectores de clases*/
 
 .color {
     color: white;
 }
 
 .color3 {
     color: black;
 }
 
 .aviso {
     font-size: 13px;
     color: #0e0e0e;
 }
 
 .w-80 {
     width: $w-80;
 }
 
 .h-40 {
     height: $h-40;
 }
 
 .scale:hover {
     transform: scale(1.1, 1.2);
 }
 
 .header {
     padding-top: 1em;
 }
 
 .formulario {
     padding-bottom: 2em;
 }
 
 .nosotros {
     padding-bottom: 3em;
 }
 
 .comentarios {
     color: rgb(18, 18, 221);
 }
 
 .margin {
     margin: 2em;
 }
 
 .footer__link--icono {
     text-align: center;
 }
 /*selectores de id*/
 
 #error404 {
     text-align: center;
     padding-top: 1em;
     background-color: black;
 }
 
 #error404textos {
     color: white;
     padding: 1em;
 }
 
 #cardproductos {
     margin-top: 20px;
     background-color: black;
 }
 
 #textocardproductos {
     color: white;
     text-align: center;
     margin: 3em;
 }
 
 #derechos {
     padding-top: 1em;
 }
 
 #blog {
     padding-bottom: 2em;
     text-align: center;
 }
 
 #productos1 {
     padding-bottom: 1em;
 }
 
 #productos2 {
     padding-bottom: 2em;
 }
 
 #productos3 {
     padding-bottom: 2em;
 }