@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto:wght@300&display=swap');
$fontMain:'Roboto',
sans-serif;
$fontTitles: 'CItim',
cursive;
$fontSizeMain:1em;
$fontSizeTitles: 2em;
$fontSizeTitles2: 1.5em;
$fontSizeSmall:0.5em